<div class="content">
    <div class="container">
        <ul class="list-content" *ngFor="let item of items">
            <li>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="post-container">
                        <div class="img-container">
                            <a href="/food/{{item._id}}" class="post-img-link">
                                <img src="{{item.backdrop}}" alt="" height="500px">
                            </a>
                        </div>
                        <div class="content-container">
                            <div class="title-container">
                                <a href="/food/{{item._id}}" class="post-title-link">
                                    <span>{{item.title}}</span>
                                </a>
                            </div>

                            <div class="action-container">
                                <span>{{item.like}}</span>
                                <span class="post-act">
                                    <img src="assets/images/like-empty.png" alt="">
                                </span>
                                <span>{{item.share}}</span>
                                <span class="post-act">
                                    <img src="assets/images/share.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScrollDown()">
    </div>

</div>