<div class="header-top">
  <div class="header-bottom">
    <div class="container">
      <div class="logo">
        <a href="index.html">
          <h1>GONN</h1>
        </a>
      </div>
      <!---->
      <!-- menu -->
      <div class="top-nav">
        <ul class="memenu skyblue">
          <li class="active">
            <a href="/">Món ăn</a>
          </li>
          <li class="grid">
            <a href="/ingredients">Nguyên liệu</a>
          </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
      <!-- menu end -->
      <!-- search box -->
      <div class="top-mid">
        <form class="search">
          <input type="text" name="search" placeholder="Search">
        </form>
      </div>
      <!-- search box end -->
      <!---->


      <!-- before login -->
      <div *ngIf="!Authenlogin" class="top-left">

        <a href="/signin" class="grid">Đăng nhập</a>
        <a href="/signup" class="signin-btn">Đăng ký</a>

        <div class="clearfix"> </div>
      </div>


    <!-- user avatar -->
    <div *ngIf="Authenlogin"class="top-left">

      <span>{{username}}</span>
      <a href="#" class="circle">
        <img height="32" width="32" src="assets/images/{{avatar}}" alt="{{username}}">
      </a>
      <a href="/home" (click)="onLogout()" class="signin-btn">Đăng xuất</a>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <!---->
  </div>
  <!-- user avatar end -->





</div>
</div>