<div class="signup-container">
    <div class="container col-md-4 col-lg-4 col-sm-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
        <div class="signup-title-container">
            <div class="sub-title">
                <h1>Nhập email để lấy lại mật khẩu</h1>
            </div>
        </div>
        <div class="form-container">


            <form [formGroup]="form" (submit)="onSend()">
                <div class="row show-hide-message">
                    <div [ngClass]="messageClass">
                        {{ message }}
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" id="signupEmail" placeholder="Nhập vào e-mail">
                </div>

                <div class="btn-group-signup btn-center">
                    <button type="submit" class="btn btn-primary btn-signup ">Gửi</button>
                </div>
            </form>

        </div>

    </div>
</div>