<div class="detail-container">
  <div class="container">
    <div class="post-detail col-md-9 col-lg-9 col-sm-9">
      <div class="food-title-container">
        <h1>{{post.title}}</h1>
      </div>
      <div class="cover-container">
        <img src="{{post.backdrop}}" >
      </div>
      <div class="content-container">
        <div class="row post-meta">

          <div class="date-of-post col-sm-6 col-md-6 col-lg-6">
            <h3>{{post.posted}}</h3>
          </div>
        </div>
        <div class="row content-detail" [innerHTML]="post.body">

        </div>
      </div>
    </div>
    <div class="post-interact col-sm-3 col-md-3 col-lg-3">
      <div class="row social-interact-container">
        <div class="post-interact-container col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <span class="post-act-detail">
            <img src="assets/images/like-empty.png" alt="">15</span>
        </div>
        <div class="post-interact-container col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <span class="post-act-detail">
            <img src="assets/images/comment.png" alt="">3</span>
        </div>
        <div class="post-interact-container col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <span class="post-act-detail">
            <img src="assets/images/share.png" alt="">19</span>
        </div>
      </div>

      <div class="row comment-container">
        <div class="comment-box">
          <a href="#" class="circle">
            <img height="32" width="32" src="assets/images/a1.jpg" alt="Braden Hamm">
          </a>
          <form action="">
            <input type="text" name="comment" id="" placeholder="Add your comment">
          </form>
        </div>
        <div class="comment-list">
          <ul>
            <li>
              <div class="comment-item">
                <a href="#" class="cmt-avatar circle">
                  <img height="32" width="32" src="assets/images/a1.jpg" alt="Braden Hamm">
                </a>
                <div class="cmt-info">
                  <div class="cmt-user-info">
                    <a href="#">User name</a>
                    <span class="cmt-date">15/10/2017</span>
                  </div>
                  <div class="cmt-text">
                    <p>I love this food!!!</p>
                  </div>
                </div>

              </div>
            </li>
            <li>
              <div class="comment-item">
                <a href="#" class="cmt-avatar circle">
                  <img height="32" width="32" src="assets/images/a1.jpg" alt="Braden Hamm">
                </a>
                <div class="cmt-info">
                  <div class="cmt-user-info">
                    <a href="#">User name</a>
                    <span class="cmt-date">15/10/2017</span>
                  </div>
                  <div class="cmt-text">
                    <p>I love this food!!!</p>
                  </div>
                </div>

              </div>
            </li>
            <li>
              <div class="comment-item">
                <a href="#" class="cmt-avatar circle">
                  <img height="32" width="32" src="assets/images/a1.jpg" alt="Braden Hamm">
                </a>
                <div class="cmt-info">
                  <div class="cmt-user-info">
                    <a href="#">User name</a>
                    <span class="cmt-date">15/10/2017</span>
                  </div>
                  <div class="cmt-text">
                    <p>I love this food!!!</p>
                  </div>
                </div>

              </div>
            </li>
            <li>
              <div class="comment-item">
                <a href="#" class="cmt-avatar circle">
                  <img height="32" width="32" src="assets/images/a1.jpg" alt="Braden Hamm">
                </a>
                <div class="cmt-info">
                  <div class="cmt-user-info">
                    <a href="#">User name</a>
                    <span class="cmt-date">15/10/2017</span>
                  </div>
                  <div class="cmt-text">
                    <p>I love this food!!!</p>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
