<!-- sign in content -->
<div class="signup-container">
    <div class="container col-md-4 col-lg-4 col-sm-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
        <div class="signup-title-container">
            <div class="sub-title">
                <h1>Đăng nhập để tiếp tục</h1>
            </div>
            <div class="title">
                <h1>GONN</h1>
            </div>
        </div>
        <div class="form-container">
            <!-- Custom Success/Error Message -->
            <div class="row show-hide-message">
                <div [ngClass]="messageClass">
                    {{ message }}
                </div>
            </div>
            <form [formGroup]="formSignIn" (submit)="onLoginSubmit()">
                <div [ngClass]="{'has-error': formSignIn.controls.email.errors && formSignIn.controls.email.dirty, 'has-success': formSignIn.controls.email.valid && formSignIn.controls.email.dirty }"
                    class="form-group">
                    <input type="email" formControlName="email" class="form-control" id="signupEmail" placeholder="Email">
                    <!-- Validation -->
                    <ul class="help-block list-error">
                        <li *ngIf="formSignIn.controls.email.errors?.required && formSignIn.controls.email.dirty">Yêu cầu nhập e-mail</li>
                    </ul>
                </div>
                <div [ngClass]="{'has-error': formSignIn.controls.password.errors && formSignIn.controls.password.dirty, 'has-success': formSignIn.controls.password.valid && formSignIn.controls.password.dirty }"
                    class="form-group">
                    <input type="password" formControlName="password" class="form-control" id="signupPassword" placeholder="Mật khẩu">
                    <!-- Validation -->
                    <ul class="help-block list-error">
                        <li *ngIf="formSignIn.controls.password.errors?.required && formSignIn.controls.password.dirty">Yêu cầu nhập mật khẩu.</li>
                    </ul>
                </div>
                <div class="forgot-pass">
                    <a routerLink="/forgotpassword">Quên mật khẩu</a>
                </div>
                <div class="btn-group-signup btn-center">
                    <button type="submit" class="btn btn-primary btn-signup ">Đăng nhập</button>
                </div>
            </form>
        </div>
        <!--link to sign up -->
        <div class="signin">
            <p>Chưa có tài khoản?</p>
            <a routerLink="/signup" href="">Đăng kí</a>
        </div>
        <!--link to sign up end -->


    </div>
</div>
<!-- sign in content end -->`