<div class="signup-container">
    <div class="container col-md-4 col-lg-4 col-sm-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
        <div class="signup-title-container">
            <div class="sub-title">
                <h1>Nhập lại mật khẩu mới </h1>
            </div>
        </div>
        <div class="form-container" *ngIf="!flag">{{message}}</div>
        <div *ngIf="flag"class="form-container">
                <div class="row show-hide-message">
                        <div [ngClass]="messageClass">
                            {{ message }}
                        </div>
                    </div>
            <form [formGroup]="form" (submit)="onSubmit()">
                <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}"
                    class="form-group">
                    <input type="password" formControlName="password" class="form-control" id="signupPassword" placeholder="Password">
                    <!-- Validation -->
                    <ul class="help-block list-error">
                        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Nhập mật khẩu mới</li>
                        <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Độ dài mật khẩu lớn hơn 8 kí tự và bé hơn 35 kí tự</li>
                        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Mật khẩu phải có kí tự viết hoa, kí tự đặc biệt, kí tự số</li>
                    </ul>
                </div>
                <div [ngClass]="{'has-error': (form.controls.retypepassword.errors && form.controls.retypepassword.dirty) || (form.errors?.matchingPasswords && form.controls.retypepassword.dirty), 'has-success': !form.controls.retypepassword.errors && !form.errors?.matchingPasswords}">
                    <input type="password" formControlName="retypepassword" class="form-control" id="signupRePassword" placeholder="Retype Password">
                    <!-- Validation -->
                    <ul class="help-block list-error">
                        <li *ngIf="form.controls.retypepassword.errors?.required && form.controls.retypepassword.dirty">Nhập lại mật khẩu</li>
                        <li *ngIf="form.errors?.matchingPasswords && form.controls.retypepassword.dirty">Nhập lại mật khẩu không khớp</li>
                    </ul>
                </div>
                <div class="btn-group-signup btn-center">
                    <button [disabled]="!form.valid"type="submit" class="btn btn-primary btn-signup ">Xác nhận</button>
                </div>
            </form>

        </div>

    </div>
</div>